<a href="https://colab.research.google.com/github/devdattatemgire/Data-Mining-Algorithms-/blob/main/KNN/KNN_EXPT_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import math
df = pd.read_csv('/content/knn.csv')

In [ ]:
# print(df.head())

In [ ]:
X = df.iloc[:,[0,1]]
y = df.iloc[:,-1:]

print('X:', X)
print('y:', y)

X:     x   y
0  10   2
1  12   3
2   9   2
3   0  10
4   4   8
5   3  11
y:   quality
0     yes
1     yes
2     yes
3      no
4      no
5      no

In [ ]:
# print(type(X))

In [ ]:
input1 = int(input("Enter the value of first feature"))
input2 = int(input("Enter the value of second feature"))
unknowns = []
unknowns.append(input1)
unknowns.append(input2)
print('Unknowns: ', unknowns )

k = int(input("Enter the no. of neignbour"))

Enter the value of first feature3
Enter the value of second feature7
Unknowns:  [3, 7]
Enter the no. of neignbour4

In [ ]:
m = len(df.index)
# feature_list = [[] for _ in range(m)]
feature_list = []
print(feature_list)
n = 0
for i in range(len(X)):
    print(X.iloc[i, 0], X.iloc[i, 1])
    feature_list.append([X.iloc[i, 0], X.iloc[i, 1]])
    n = n+1
print(feature_list)

[]
10 2
12 3
9 2
0 10
4 8
3 11
[[10, 2], [12, 3], [9, 2], [0, 10], [4, 8], [3, 11]]

In [ ]:
distances = []
for i in range(m):
 d = math.dist(feature_list[i], unknowns)
 distances.append(d)
print(distances)

[8.602325267042627, 9.848857801796104, 7.810249675906654, 4.242640687119285, 1.4142135623730951, 4.0]

In [ ]:
dist_df = pd.DataFrame(distances, columns =['distances'])
print(dist_df)

   distances
0   8.602325
1   9.848858
2   7.810250
3   4.242641
4   1.414214
5   4.000000

In [ ]:
y.insert(1,'Distances',dist_df)
print(y)

  quality  Distances
0     yes   8.602325
1     yes   9.848858
2     yes   7.810250
3      no   4.242641
4      no   1.414214
5      no   4.000000

In [ ]:
y_sort = y.sort_values(
     by="Distances",
     ascending=True )

In [ ]:
print(y_sort)

  quality  Distances
4      no   1.414214
5      no   4.000000
3      no   4.242641
2     yes   7.810250
0     yes   8.602325
1     yes   9.848858

In [ ]:
y_final = y_sort.drop(y_sort.index[k:m])

In [ ]:
print(y_final)

  quality  Distances
4      no   1.414214
5      no   4.000000
3      no   4.242641
2     yes   7.810250

In [ ]:
# for col in y_final.columns:

In [ ]:
# df['quality'].mode()
s = 1
y_final['quality'].value_counts()[:s].index.tolist()

['no']